<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>
      <!-- Shopping List #1: -->
      <h3>Shopping List:</h3>
      <!--ng-repeat is an angular directive that can be applied to HTML elements.
      It will iterate over a dataset defined in the js.
      Syntax: ng-repeat="item in dataSetName"-->
      <!--First example. Iterate over a String array, printing the elements as
      unordered list-->
      <!-- <ul>
        <li ng-repeat="item in shoppingList1">{{ item }}</li>
      </ul> -->

      <!--Second example. Iterate over a Object array, printing each attribute
      of the object (quantity and name)-->
      <!-- Shopping List #2: -->
      <!-- <ul>
        <li ng-repeat="item in shoppingList2">Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul> -->

      <!--Third example. Same as 2nd example, but accessing the array index.
      The index is an ng-repeat property, by the name of $index-->
      <!-- Shopping List #3: -->
      <input type="text" ng-model="shoppingList2[0].quantity">
      <ul>
        <li ng-repeat="item in shoppingList2">{{$index + 1}}. Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul>
      <!--Since we are listing the items of the list using expressions ({{}}),
      a watcher is assigned to each element od the array, and their contents can
      ce modified. We also create new controller properties using ng-model, instead
      of declaring them in the js-->
      <input type="text" ng-model="newItemName" placeholder="item name">
      <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
      <button ng-click="addToList()">Add To List</button>
    </div>
  </body>
</html>
